@*@model string
<div class='pwdwidgetdiv' id='thepwddiv'></div>
<script type="text/javascript">
                        var pwdwidget = new PasswordWidget('thepwddiv', 'password');
                        pwdwidget.MakePWDWidget('@Model');
</script>
<noscript>
    <div class="clearfix">*@
        @Html.TextBoxFor(model => model, ViewData)
@*    </div>
</noscript>*@
