@model Hanodale.WebUI.Models.AccessRightsModel
@using Hanodale.Utility.Globalize
@{
    Layout = null;
}

@if (Model.canView)
{
    <span class="maintenance-view-business btn btn-ribbon " data-url="BUSINESS_ID" data-placement="bottom" data-rel="tooltip" title="View" data-container="body">
        <i class="fa fa-eye"></i>
    </span>
}
@if (Model.canEdit)
{
    <span class="maintenance-business btn btn-ribbon " data-url="BUSINESS_ID" data-placement="bottom" data-rel="tooltip" title="Edit" data-container="body">
        <i class="fa fa-pencil-square-o"></i>
    </span>
}
@if (Model.canDelete)
{
    <span class="trash delete-business btn btn-ribbon " data-url="BUSINESS_ID" data-placement="bottom" data-rel="tooltip" title="Delete" data-container="body">
        <i class="fa fa-trash-o "></i>
    </span>
}
