@using Hanodale.Utility.Globalize
@{
    ViewBag.Title = "OnlineHelp";
        // Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-content -->
<div class="page-header">
    <h1>@Resources.PAGE_HEADER_HELP</h1>
</div>
<!-- /.page-header -->

<script src="~/ProtectedScripts/pms.web.onlinehelp.js"></script>

<div class="row">
    <div class="col-xs-12">
            <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-5-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                            <i class="icon-dashboard bigger-130"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="faq-5-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-5" class="panel-group accordion-style1 accordion-style2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-5-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Today’s Task
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-5-sub-1">
                                        <div class="panel-body">
                                            <h4>Today’s Task</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Today’s task Dashboard displays the available task for the login users. </li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/TodaysTask.png' />
                                                    <br>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-5-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My Calendar 
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-5-sub-2">
                                        <div class="panel-body">
                                            <h4>My Calendar </h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on My Calendar button from Dashboard to view the FollowUp calls, Appointments, Presentation and others.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-5-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Leads
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-5-sub-3">
                                        <div class="panel-body">
                                            <h4>Leads</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Leads dashboard display the leads details based on the pie-chart selection</li>
                                                <br />
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/DashboardLeads.png' />
                                                    <br>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-5-sub-4" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Recent Activity 
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-5-sub-4">
                                        <div class="panel-body">
                                            <h4>Recent Activity </h4>
                                            <ul class="list-nostyle">
                                                <li>1.  Recent Activity Dashboard displays the recently updated lead follow up details.</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/RecentActivity.png' />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                            <i class="icon-user bigger-130"></i>
                            User Management
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="faq-1-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            User
                                        </a>
                                    </div>

                                    <div class="panel-collapse collapse" id="faq-list-1-sub-1">
                                        <div class="panel-body">
                                            <h4>Search User</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>search user</b> information, User Management > User</li>
                                                <li>2. The grid lists with existing created records.</li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/searchUser1.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                            <h4>Create User</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <b>Create User</b> button
                                                            <br>
                                                </li>
                                                <li>2. Fill in user information and click <b>Save</b> button </li>
                                            </ul>

                                            <h4>Edit User</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Edit</b> icon to edit the user details.<br>
                                                </li>
                                                <li>2. Edit information and click <B>Save</B> button</li>
                                            </ul>

                                            <h4>Delete User</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Delete</b> icon to delete the user detail.<br>
                                                </li>
                                                <li>2. System will prompt alert message, in-case user is related with any data transactions.</li>
                                            </ul>
                                            <h4>Reset Password</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <B>Reset</B> icon to reset the user password.<br>
                                                </li>
                                                <li>2. The system will reset password and send the password to user email id.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            User Roles
                                        </a>
                                    </div>

                                    <div class="panel-collapse collapse" id="faq-list-1-sub-2">
                                        <div class="panel-body">
                                            <h4>Search User Role</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>Search user role</b> information, Click User Management > User Role</li>
                                                <li>2. The grid lists with existing created records.</li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/SearchUSerRole.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                            <h4>Create User Role</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <b>Create User Role</b> button
                                                            <br>
                                                </li>
                                                <li>2. Fill in user role information and click on <b>Save</b> button </li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/CreateRole.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                            <h4>Edit User Role</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Edit</b> icon to edit the user role details.<br>
                                                </li>
                                                <li>2. Edit information and click <b>Save</b> button</li>
                                            </ul>

                                            <h4>Delete User Role</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Delete</b> icon to delete the user role.<br>
                                                </li>
                                                <li>2. System will prompt alert message, in-case user role is related with any data transactions.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            User Rights
                                        </a>
                                    </div>

                                    <div class="panel-collapse collapse" id="faq-list-1-sub-3">
                                        <div class="panel-body">
                                            <h4>Manage User Rights</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To set the User Rights select the user role from dropdown list.</li>
                                                <li>2. To set the rights select the module and set the rights Can View, Can Add, Can Edit, Can Delete and Click <b>Save</b> button. </li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/UserRights.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-2-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                            <i class="icon-beaker bigger-130"></i>
                            Prospect
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="faq-2-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-2" class="panel-group accordion-style1 accordion-style2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-2-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Prospect
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-2-sub-1">
                                        <div class="panel-body">
                                            <h4>Search Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>Search prospect</b> information, Click Prospect > Prospect.</li>
                                                <li>2. The grid lists with existing created records</li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/SearchProspect.png' />
                                                    <br>
                                                </li>
                                            </ul>
                                            <h4>Create Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Create Prospect</b> button </li>
                                                <li>2. The page redirects to the prospect create screen</li>
                                                <li>3. Fill in information and click <b>Save</b> button to return to main page after saving</li>
                                                <li>4. Fill in information and click <b>Save & Continue</b> button to reset input fields values after saving.</li>
                                                <li>5. Click <b>Reset</b> button to clear input fields values.</li>
                                            </ul>

                                            <h4>Prospect - Create Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <b>Add Lens</b> icon button from manage Prospect grid view page.</li>
                                                <li>2. The page redirects to the Lead create screen.</li>
                                                <li>3. Add all the required fields and Click <b>Save</b> button.</li>
                                            </ul>

                                            <h4>Edit Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Edit</b> icon to edit the prospect details.</li>
                                                <li>2. Edit the information and Click <b>Update</b> button.</li>
                                            </ul>
                                            <h4>Delete Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Delete</b> icon to delete the prospect detail.</li>
                                                <li>2. System will prompt alert message, in-case prospect is related with any data transactions.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-2-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My Prospect
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-2-sub-2">
                                        <div class="panel-body">
                                            <h4>Search Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>Search my prospect</b> information, Click Prospect > My Prospect</li>
                                                <li>2. The prospects listed for logged in user.</li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/CreatedProsp.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                            <h4>My Prospect – Create</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Create Prospect</b> button </li>
                                                <li>2. The page redirects to the prospect create screen</li>
                                                <li>3. Fill in information and click <b>Save</b> button to return to main page after saving</li>
                                                <li>4. Fill in information and click <b>Save & Continue</b> button to reset input fields values after saving.</li>
                                                <li>5. Click <b>Reset</b> button to clear input fields values.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-2-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My Team Prospect
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-2-sub-3">
                                        <div class="panel-body">
                                            <h4>Find My Team Prospect</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>view</b> my team prospect information, Click Prospect > My Team Prospect</li>
                                                <li>2. Select the date in the grid and click on find button to list my prospect details</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/FindMyTeamProspect.png' />
                                                    <br>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-3-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                            <i class="icon-bookmark bigger-130"></i>
                            Manage Leads
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="faq-3-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-3" class="panel-group accordion-style1 accordion-style2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-3-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Leads
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-3-sub-1">
                                        <div class="panel-body">
                                            <h4>Search Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>search leads</b> information, Click Manage Leads > Leads</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/SearchLead.png' />
                                                    <br>
                                                </li>
                                            </ul>

                                            <h4>Lead Follow Up</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click<b> Add Lens icon </b>button from manage leads grid view page</li>
                                                <li>2. The page redirects to the Lead follow up screen</li>
                                                 <li>3. Add the information and Click <b>Save </b>button.</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/LoadFollowUp.png' />
                                                    <br>
                                                </li>
                                               
                                            </ul>

                                            <h4>Edit Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click<b> Edit </b>button to edit the lead details</li>
                                                <li>2. Edit the information and Click <b>Update</b> button </li>
                                            </ul>
                                            <h4>Delete Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click<b> Delete </b>button to edit the lead details</li>
                                                <li>2. System will prompt alert message, in-case "Lead follow Up" is related with any data transactions.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-3-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My  Leads
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-3-sub-2">
                                        <div class="panel-body">
                                            <h4>Manage My Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>Search my leads</b> information, Click Manage Leads > My Leads</li>
                                                <li>2. The page redirects to the lead follow up screen.</li>
                                                <br />
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/ManageLead.png' />
                                                    <br>
                                                </li>
                                            </ul>
                                            <h4>Lead Follow Up</h4>
                                            <ul class="list-nostyle">
                                                <li>1.Click <b>Add Lens icon</b> button from manage leads grid view page.</li>
                                                <li>2.The grid lists with existing created records</li>
                                                 <li>3.Add information and Click <b>Save</b> button</li>
                                                <li>4. Logged in user created lead details will be loaded in manage lead grid view page.</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/LeadFollowUp.png' />
                                                    <br>
                                                </li>
                                               
                                            </ul>
                                            <h4>Edit My Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Edit</b> icon to edit the leads detail.</li>
                                                <li>2. Edit the information and Click <b>Update</b> button </li>
                                            </ul>
                                            <h4>Delete My Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Delete</b> icon to delete the leads detail.</li>
                                                <li>2. System will prompt alert message, in-case "My Lead" is related with any data transactions.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-3-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My Team  Leads
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-3-sub-3">
                                        <div class="panel-body">
                                            <h4>Search My Team Lead</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To <b>view my team Lead</b> information, Click Manage Leads > My Team leads</li>
                                                <li>2. The page redirects to my team lead screen </li>
                                                <li>3. Select the date and click on <b>Find</b> button to view my team lead details</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/MyTeamLead.png' />

                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-4-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                            <i class="icon-cogs bigger-130"></i>
                            Settings
                        </a>
                    </div>

                    <div class="panel-collapse collapse" id="faq-4-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-4" class="panel-group accordion-style1 accordion-style2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-4-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Branch
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-4-sub-1">
                                        <div class="panel-body">
                                            <h4>Manage Branch</h4>
                                            <ul class="list-nostyle">
                                                <li>1. For quick <b>search</b> of branch information, use the menu navigation: Settings > Branch</li>
                                                <li>2. Enter search keyword in input field located at top right </li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/SearchBranch.png' />
                                                </li>
                                            </ul>
                                            <h4>Create Branch</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <b>Create Branch</b> button </li>
                                                <li>2. Enter Branch Code, Location and select status (Active/Inactive) </li>
                                                <li>3. Click on <b>Save</b> button to complete Brach Creation</li>
                                                <br>
                                                <li>
                                                    <img class="helpimage" src='../Images/Help/CreateBranch.png' />
                                                </li>
                                            </ul>
                                            <h4>Edit Branch</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click on <b>Edit Image </b>button </li>
                                                <li>2. The page loaded with branch information and modify data</li>
                                                <li>3. Click on <b>Update</b> button to save branch information</li>
                                            </ul>
                                            <h4>Delete Branch</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Delete</b> icon to delete the branch detail.</li>
                                                <li>2. System will prompt alert message, in-case branch is related with any data transactions.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-4-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            My Calendar
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-4-sub-2">
                                        <div class="panel-body">
                                            <h4>Manage FollowUp, Appointments</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To manage FollowUp Calls, Appointments click on Settings > Calendar from menu bar</li>
                                                <li>2. Create "Appointments" in calendar by month/week/day wise</li>
                                                <li>
                                                    <br>
                                                    <img class="helpimage" src='../Images/Help/Calendar.png' />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-6-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                            <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>


                            <i class="icon-globe bigger-130"></i>
                            Others
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="faq-6-2">
                        <div class="panel-body">
                            <div id="faq-list-nested-6" class="panel-group accordion-style1 accordion-style2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-6-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            User Profile
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-6-sub-1">
                                        <div class="panel-body">
                                            <h4>Manage User Profile</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Profile</b> icon from right side top of the corner of the page</li>
                                                <li>2. Select the lanaguage you prefer to view in the application</li>
                                                <li>3. Click on <b>Update</b> button to apply modified profile details</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/ViewProfile.png' />
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-6-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Change Password
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-6-sub-2">
                                        <div class="panel-body">
                                            <h4>Modify Password</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Click <b>Change Password </b>icon from right side top corner of page</li>
                                                <li>2. Enter old password,new password with confirm password.</li>
                                                <li>3. Click on <b>Show</b> link button to view entered password in plain text</li>
                                                <li>4. Click on <b>Change Password</b> button to apply changed user password details</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/ChangePassword.png' />
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-6-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            Application Overview 
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-6-sub-3">
                                        <div class="panel-body">
                                            <h4>Login</h4>
                                            <ul class="list-nostyle">
                                                <li>1. To login to "Prospect Management System" key in email address and password</li>
                                                <li>2. Click on <b>Login</b> button to continue</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/SignIn.png' />
                                                </li>
                                            </ul>

                                            <h4>Menu Access</h4>
                                            <ul class="list-nostyle">
                                                <li>1. The menu list provides access to the respective screens to the user. </li>
                                                <li>2. Click on the "Main Menu" to expand "Sub Menus" and click to navigate to the screens.</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/SubMenu.png' />
                                                </li>
                                            </ul>
                                            <h4>Standard Icons & Functionalities</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Enter text to search in <b>Search</b> input field</li>
                                                <li>2. Click on <b>Reset</b> image icon to clear input values entered.</li>
                                                <li>3. Click on <b>Edit</b> image icon to modify record.</li>
                                                <li>4. Click on <b>Delete</b> image icon to delete record.</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/Functionalities.png' />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#faq-list-6-sub-4" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                            <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                            System Messages
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq-list-6-sub-4">
                                        <div class="panel-body">
                                            <h4>Major Errors</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Application major errors are identified and displayed on top of the section error occoured </li>
                                            </ul>

                                            <h4>Minor Errors</h4>
                                            <ul class="list-nostyle">
                                                <li>1. The most frequent errors captured, including skipping a required field or invalid input control are marked in red color to notify user </li>
                                                <li>2. Required input fields are marked with an asterisk.</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/RequiredFields.png' />
                                                </li>
                                            </ul>

                                            <h4>Status Message</h4>
                                            <ul class="list-nostyle">
                                                <li>1. Application displays status message at top of the section,on performing create, modify, delete record, confirming that respective action has been made</li>
                                                <li>
                                                    <br />
                                                    <img class="helpimage" src='../Images/Help/ErrorMsg.png' />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>