@model Hanodale.WebUI.Models.AccessRightsModel
@using Hanodale.Utility.Globalize
@{
    Layout = null;
}
@if (Model.canView)
{
    <span class="view-organizationemail btn btn-ribbon " data-url="ORGANIZATIONEMAIL_ID" title="View" data-rel="tooltip" data-placement="bottom" data-container="body">
        <i class="fa fa-eye"></i>
    </span>
}
@if (Model.canEdit && !Model.readOnly)
{
    <span class="edit-organizationemail btn btn-ribbon " data-url="ORGANIZATIONEMAIL_ID" title="Edit" data-rel="tooltip" data-placement="bottom" data-container="body">
        <i class="fa fa-pencil-square-o"></i>
    </span>
}
@if (Model.canDelete && !Model.readOnly)
{
    <span class="delete-organizationemail btn btn-ribbon " data-url="ORGANIZATIONEMAIL_ID" title="Delete" data-rel="tooltip" data-placement="bottom" data-container="body">
        <i class="fa fa-trash-o "></i>
    </span>
}